* {
  box-sizing: border-box;
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  line-height: 160%;
  outline: none;
}

/* LINES  & DIVIDERS */
.divider-short {
  width: 75px;
  border-bottom: 2px solid rgb(216,216,216);
  margin: 0 auto;
}

.divider-medium {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(216,216,216);
}

.strike {
  display: flex;
  justify-content: center;
  margin-top: 3px
}

i {
  font-size: 24px;
  color: #999;
  text-align: center;
}

/*  BLINKING CURSOR  */
.blinking-cursor {
  font-weight: 50;
  font-size: 16px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.blinking-cursor-header {
  font-size: 18px
}

  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

a {
  text-decoration: none;
  color: black
}

a:hover {
  cursor: pointer;
}

/* NAV */
.hamburger {
  background:none;
  position:absolute;
  right: 14%;
  line-height:45px;
  padding:5px 0px 0px 15px;
  color:#999;
  border:0;
  font-size: 1.6em;
  cursor: pointer;
  outline:none;
  /* z-index:10000000000000; */
}

.cross {
  background:none;
  position:absolute;
  top: 17px;
  right: 11.5%;
  color:#999;
  border:0;
  font-size:3.4em;
  line-height:58px;
  cursor:pointer;
  outline:none;
  /* z-index:10000000000000; */
}

/* .logo {
  color:#999;
  border:0;
  font-size:3.4em;
  line-height:65px;
  } */

/* HEADER & NAV */
header {
  font-family: 'Vollkorn SC', serif;
}

ul {
  list-style-type: none;
  padding: 0
}

/* nav,
body {
  margin-top: 30%;
} */

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  letter-spacing: 14px; 
}

.less-space {
  letter-spacing: 3px
}

.header-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;  
  width: 100%;
  height: 100px;
  padding: 0 14%;
  border-bottom: 1px solid rgb(151, 151, 151)  
}

.nav-mobile {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  height: 380px;  
  border-bottom: 1px solid rgb(151, 151, 151);
  border-top: 1px solid rgb(151, 151, 151);  
}

.nav-mobile li {
  padding: 22px;
  text-align: center;
}

.nav-mobile div {
  margin: 0 auto;
}

.header-slideshow {
  width: 100%;
  display: flex;
  align-items: flex-start; 
}

.header-slideshow-mobile {
  margin-top: -30px 
}

.header-caption  {
  letter-spacing: 3px;
  font-style: italic;
}

.header-caption span {
  color: tomato
}

.header-title-mobile {
  width: 100%;
  margin-top: 130px;
  margin-bottom: -60px
}

.header-captions-mobile {
  height: 140px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 12% 14% 0
}

.down-arrow {
  width: 10%;
}

/*  BODY  */
main {
  margin-bottom: 80px;
}

section {
  height: 58px;
  padding-left: 16px;
  border-left: 1px solid rgb(216,216,216);
  margin: 80px 0 30px;
  line-height: 100%;
}

/* MOBILE-VIEW'S MANUAL MARGIN */
.main-about-container,
.main-webdev-container,
.main-contact-container,
.section-photos {
  margin: 80px 14% 30px;
}

.about-self-portrait {
  width: 100%;
}

.about-name {
  text-align: left;
}

.about-name-mobile {
  text-align: center;
}

.more-mobile {
  font-weight: normal;
}

.cls2 {
  display: flex;
  flex-flow: column;
  align-items: center
}

.fa-angle-double-right,
.fa-angle-double-left,
.fa-angle-double-up {
  color: tomato
}

.webdev-placeholder {
  width: 100%;
}

.kira-kira {
  max-width: 50%;
  padding-bottom: 20px;
}

.learn-more {
  padding-bottom: 50px;
}

.divider-project {
  /* margin-top: 50px; */
  margin-bottom: 30px;
}

.webdev-combined-picture {
  margin-top: 30px;
}

.devicon-wrapper {
  display: flex;
  justify-content: center;
}

.devicon {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid rgb(216,216,216);
  /* padding-top: 15px; */
  justify-content: space-around
}

.devicon > * {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 0;
  max-width: 55.61px
}

.filling-empty-space-childs {
  width: 55.61px;
  height: 0;
}

.devicon > * > i {
  font-size: 1.6em;
  margin: 0 15px;    
}

.icon-caption {
  font-size: 0.8em;
  text-align: center;
}

.photos-description {
  /* text-align: center */
}

.photos-placeholder {
  width: 135px;
  height: 135px;
  background-color: deepskyblue;
}

.photos-row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1px;
  margin-bottom: 2px;
}

.photos-row:last-child {
  margin-bottom: 0;
}

.photos-row a {
  padding: 0 1px;
  width: 33.33%;
  line-height: 0
}

.photos-row img {
  width: 100%
}

.contact-detail-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; 
  align-items: center;
  height: 250px;
  margin: 5% 0
}

footer {
  height: 40px;
  margin: 0 14% -10%;
}

/* ICONS */
.icon {
  width: 60px;
  height: 60px;
}

.contact-detail {
  display: hidden;
}

/* HIDE */
.header-desktop,
.about-name-desktop,
.about-self-portrait-desktop,
.more-desktop {
  display: none
}

.hidden {
  display: none
}

/*  RESPONSIVE DESIGN*/

@media all and (max-width: 320px) {
  header h1 {
    font-size: 18px;
    letter-spacing: 10px;
    margin: 10px 0
  }

  .header-captions-mobile .header-caption {
    font-size: 12px;
  }

  .hamburger {
    position: absolute;
    top: 23px
  }
  
  .cross {
    font-size: 3em;
    margin-right: 3px;
    position: absolute;
    top: 17px
  }
}

@media all and (min-width: 480px) {
  header h1 {
    font-size: 28px;
    letter-spacing: 18px;
    margin: 10px 0
  }

  .hamburger {
    /* position: absolute;
    top: 23px */
    font-size: 2em
  }
  
  .cross {
    font-size: 4em;
    position: absolute;
    top: 19px;
    right: 12.5%
  }
}

@media all and (min-width: 576px) {
  header h1 {
    font-size: 32px;
    letter-spacing: 24px;
    margin: 10px 0
  }

  .hamburger {
    /* position: absolute;
    top: 23px */
    font-size: 2.2em
  }
  
  .cross {
    font-size: 4.1em;
    position: absolute;
    top: 19px;
    right: 13%
  }
}

@media all and (min-width: 600px) {
  .disappearing-child-600 {
    display: none
  }
}

@media all and (min-width: 768px) {
  * {
    box-sizing: border-box;
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    line-height: 160%
  }
  
  /* Hide Mobile Features */
  .hamburger,
  .cross,
  .header-container,
  .header-mobile,
  .more-mobile,
  .about-self-portrait-mobile {
    display: none
  }

  body {
    padding-left: 3%;
    padding-right: 3%;
  }

  /*  HEADER & NAV  */
  header h1 {
    font-size: 50px;
    letter-spacing: 30px;
    margin: 10px 0;
    margin-right: -10px
  }

  .less-space {
    letter-spacing: 6px
  }

  .header-desktop {
    display: flex;
    flex-flow: row wrap;
    max-width: 950px;
    margin: 0 auto;
  }

  .header-desktop > * {
    flex: 1 100%;
  }

  .header-title-desktop {
    display: flex; 
    flex-flow: row wrap;
    align-items: center; 
  }

  .header-title-desktop h1 {
    flex: 1 auto
  }

  .header-title-desktop hr {
    flex: 4 auto; 
    height: 15px; 
    border: none; 
    border-bottom: 1px solid grey
  }
  .header-title-desktop div {
    flex: 2 auto; 
    padding-top: 18px; 
    text-align: right
  }

  .header-caption  {
    letter-spacing: 5px;
  }

  body {
    margin-top: 0;
    font-size: 24px;
    line-height: 160%;
  }

  main {
    /* overflow: auto */
  }

  nav, 
  main, 
  footer, 
  body {
    position: relative;
    background-color: white;
  }

  nav {
    margin: 528px 0 -589.45px 0 ;
    border-bottom: 1px solid rgb(151, 151, 151);
    z-index: 150;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    margin: 25px 0 10px 0;
    /* margin: 20px 0 15px 0 */
  }

  .header-title-desktop {
    position: fixed;
    max-width: 950px;
    top: 0; 
    margin-right: 3%;
    /* margin-left: 3%; */
  }
  
  .main-nav-scrolled {
    /* position: fixed;
    width: 950px;
    margin-top: 0 */
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 3%;
  }
  
  main {
    margin-top: 589.45px;
  }

  section {
    margin: 0
  }

  .main-container {
    display: flex; 
    flex-direction: column;
    max-width: 950px;
    margin: 0 auto;
  }

  .main-container > * {
    display: flex;
  }


  /*  ABOUT  */
  .main-about-container,
  .main-contact-container {
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 80px 0 30px
  }

  .main-webdev-container,  
  .main-photos-container {
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 80px 0 30px
  }

  .main-about-container > section {
    flex: 1 33%;
    order: 1;
  }

  .main-about-container > .row-2 {
    flex: 1 33.33%;
    order: 2;
    margin-right: 4%;
  }

  .main-about-container p {
    margin-top: 0;
  }

  .main-about-container > .row-3 {
    flex: 1 33.33%;
    order: 3;
  }

  .about-self-portrait-desktop {
    display: flex;
  }

  .more-desktop {
    display: inline;
    font-weight: normal;
  }

  .about-name {
    text-align: center;
  }

  .webdev-placeholder {
    width: 100%;
  }

  .kira-kira {
    max-width: 100%;
    border-bottom: 0;
  }

  /*  WEBDEV  */
  .main-webdev-container > section,
  .main-webdev-container .section-divider {
    flex: 1 30%;
  }

  .main-webdev-container .project {
    flex: 1 66.66%;
  }

  h4 {
    line-height: 100%;
    margin: 0 0 20px 0;
    font-size: 1.4em;
    font-family: 'Playfair Display';
    letter-spacing: 1px;
    color: grey;  
  }

  .devicon {
    flex-flow: row wrap;
  }

  .devicon > * > aside {
    display: block;
  }

  .devicon > * > i {
    font-size: 2em;
    margin: 0 15px;    
  }

  /* DIFFERENT WEBDEV VIEW */
  /* .webdev-container {
    display: flex;
    flex-flow: row nowrap;
  }

  .webdev-container > * {
    flex: 1 50%;
  } */


  /*  PHOTOS  */
  .main-photos-container > section {
    flex: 1 31%;
    order: 1;
    margin: 0
  }

  .kira-kira-2 {
    margin-top: -50px;
  }
  .main-photos-container > p {
    flex: 1 33.33%;
    order: 2;
    margin: 0
  }

  .main-photos-container > .photos-placeholder {
    display: flex;
    flex: 1 33.33%;
    order: 3;
    background-color: white;
  }

  .photos-container {
    flex: 1 auto;
    order: 4;
  }


  /*  CONTACT  */
  .main-contact-container > section {
    flex: 1 33.33%;
    order: 1;
    margin: 0
  }

  .contact-detail-container {
    flex: 1 33.33%;
    order: 2;
    margin-top: 10%;
    margin-bottom: 0;
    display: flex;
    flex-flow: row wrap;
  }

    .contact-detail-container > * {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    .contact-detail-container > * > img {
      margin-left: 40px;
    }

    .contact-detail-container > * > a {
      display: flex;
      align-items: center;
      margin-left: 15px;
      text-decoration: none;
    }

  .main-contact-container > .contacts-placeholder {
    display: flex;
    flex: 1 33.33%;
    order: 3;
    background-color: white;
  }
}

@media all and (min-width: 922px) {
  header h1 {
    font-size: 58px;
    letter-spacing: 32px;
    margin: 10px 0
  } 
}

@media all and (min-width: 866px) {
  .disappearing-child-948 {
    display: none
  }
}

@media all and (min-width: 1010px) {
  /* .header-title-desktop {
    margin-right: auto;
    margin-left: auto;
  } */

  .main-nav-scrolled {
    /* left: auto;
    right: auto;
    position: fixed; */
    max-width: 950px;
    margin: 0 auto
  }
}

/* @media all and (min-width: 1126px) {
  .header-title-desktop {
    margin-right: auto !important;
    margin-left: auto !important
  }
} */